.intro{
    background-image: url("../../../public/img/portrait_titre.png") ;
    font-family: Georgia;
    font-size: var(--titre-3);
    color: var(--jaune);
    width: 100%;
    text-align: center;
    margin-top: 80px;
}
.titre{
    margin-top: 100px;
    font-family: Georgia;
    font-size: var(--titre-1);
    color: var(--rouge);
    text-align: center;    
}

.vignette1{
    display: inline-flex;
    background-color:black;
    rotate: 2deg;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 100px;
}

.vignette2{
    display: inline-flex;
    background-color:var(--jaune);
    rotate: 2deg;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 100px;
}
.vignette3{
    display: inline-flex;
    background-color:var(--rouge);
     rotate: 2deg;
     margin-left: -20px;
     margin-right: -20px;
     margin-bottom: 100px;
 }
.vignette_image{
    rotate: -2deg;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.vignette_texte1{
    display: inline-flex;
    rotate: -2deg;
    font-family: Georgia;
    font-size: var(--titre-2);
    text-align: center;
    margin-top: 100px; 
    color: var(--jaune);
}
.vignette_texte2{
    display: inline-flex;
    rotate: -2deg;
    font-family: Georgia;
    font-size: var(--titre-2);
    text-align: center;
    margin-top: 100px;
    color: var(--rouge);
}
.vignette_texte3{
    display: inline-flex;
    rotate: -2deg;
    font-family: Georgia;
    font-size: var(--titre-2);
    text-align: center;
    margin-top: 100px;
    color: var(--jaune);
} 
body{
    background-image: url("../../../public/img/fond.png") ;
}