.header {
    background-color: var(--rouge);
    position: absolute;
    justify-content: space-between;
  }
  
  .header_logo,
  .header_titre {
    position: absolute;
  }
  .header_logo{
    display: flex;
    height: 50px;
  }
  .header_menubtn {
    height: 50px;
  }
.header_titre{
    text-align: center;
    margin: 5px;
    color: var(--jaune);
    font-family: Georgia;
    font-size: var(--titre-2)
}