:root{
/* Color styles */
--jaune: rgba(255, 222, 10, 1);
--rouge: rgba(191, 15, 21, 1);
--gris: rgba(231, 230, 230, 1);

/* Text-size styles */
--titre-1: 48px;
--titre-2: 36px;
--titre-3: 24px;
--text: 12px;
--g-r-a-n-d: 72px;
}